// Button
.btn,
.button {
  appearance: none;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0;
  background: $darkgray;

  font: inherit;
  line-height: 1.5rem;
  color: $white;

  cursor: pointer;

  // States
  &:visited {
    color: $white;
  }
  &:hover {
    background: $darkgray;
    color: $white;
  }
  &:focus {
    outline: none;
  }
  &.isSelected {
    background: $darkgray;
    color: $white;
  }

  // Appearance
  &--subtle {
    background-color: rgba($darkgray, 0.05);
    border: 0;
    color: $darkgray;

    &:hover {
      background: rgba($darkgray, 0.1);
    }
    &:visited {
      color: $darkgray;
    }
  }
  &--reveal {
    background: transparent;
    border: 2px solid transparent;
    color: $darkgray;

    &:hover {
      border: 2px solid currentColor;
      background: none;
    }
    &.btn--subtle,
    &.button--subtle {
      &:hover {
        background: rgba($darkgray, 0.05);
        border-color: transparent;
      }
    }
  }
  &--outline {
    background: transparent;
    border: 2px solid $darkgray;
    color: $darkgray;

    &:hover {
      background: $darkgray;
      border-bottom: 2px solid $darkgray;
      color: $white;
    }
    &:visited {
      color: $darkgray;

      &:hover {
        color: $white;
      }
    }
  }

  // Size
  &--narrow {
    padding: 0.5rem 0.75rem;
  }
  &--small {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;

    &.btn--outline,
    &.button--outline {
      border-width: 1px;
    }
  }
  &--fullwidth {
    display: block;
    width: 100%;
  }

  // Additions
  &--arrow-left:before,
  &--arrow-down:after,
  &--arrow-up:after {
    content: "";
    display: inline-block;
    width: 0.675em;
    height: 0.675em;
    margin: 0 0.5rem 0 0.25rem;
    opacity: 0.5;
  }
  &--arrow-left:before {
    border-bottom: 2px solid $darkgray;
    border-left: 2px solid currentColor;
    transform: rotate(45deg);
  }
  &--arrow-down:after,
  &--arrow-up:after {
    margin: 0 0 0 0.5rem;
    border-bottom: 2px solid $darkgray;
    border-right: 2px solid $darkgray;
    transform: translateY(-2px) rotate(45deg);
  }
  &--arrow-up:after {
    border-right: 0;
    border-left: 2px solid $darkgray;
    transform: translateY(2px) rotate(135deg);
  }
  &[disabled] {
    background: rgba(0, 0, 0, 0.25);
    border-color: transparent;
    color: rgba(0, 0, 0, 0.25);
  }
}
