// Input field
.field {
  appearance: none;
  display: inline-block;
  min-width: 15rem;
  padding: 0.5rem;
  border-radius: 0 !important;
  border: 1px solid $darkgray;
  background: $lightred;
  color: $darkgray;

  font: inherit;

  &:hover {
    background: $white;
    // border-color: $gray;
  }
  &--full {
    width: 100%;
  }
  &--disabled {
    background: rgba(0, 0, 0, 0.1);
    color: $gray;
    border: transparent;

    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}

// Radio select fieldgroup
.fieldgroup--radio.column {
  flex-direction: column;
  width: 100%;
}

.fieldgroup--radio {
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  justify-content: space-between;

  input[type="radio"] {
    appearance: none;
    width: 1rem;
    min-width: 1rem;
    height: 1rem;
    margin-right: 10px;
    margin-bottom: 0;
    border-radius: 1rem;
    border: 1px solid $darkgray;

    &:checked {
      background: black;
    }
    &:focus {
      outline: none;
    }
  }

  .field--radio__content {
    width: 100%;
  }

  .field--radio {
    display: flex;
    align-items: center;
    padding: 0;
    padding-left: 0.5rem;
    padding-top: -0.5rem;

    &:not(.isSelected) .field--radio__content {
      cursor: pointer;
    }
    &.isSelected {
      border: 1px solid $darkgray;
      z-index: 1;
    }

    & + .field--radio {
      margin-top: -2px;
    }

    .pretext {
      display: block;
      font-size: 1rem;
      font-style: bold;
      color: rgba($darkgray, 1);
    }

    h6 {
      margin-bottom: 0.5rem;
    }

    &__content {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 0.5rem 1rem 0.5rem 0;

      .field {
        max-width: calc(100vw - 5.75rem);
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    &__selectedcontent {
      margin-top: 0.5rem;
    }
  }
}
