// Nav
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;

  &-brand {
    @include tabletAndDown() {
      margin-right: 0;
    }

    img {
      max-width: 22rem;
      padding-left: 1rem;

      @include tabletAndUp() {
        max-width: auto;
      }

      @include tabletAndDown() {
        max-width: 14rem;
      }
    }

    &:hover {
      border-bottom-color: transparent;
    }
  }

  &-nav {
    display: flex;
    align-items: center;

    @include tabletAndUp() {
      li + li {
        margin-left: 1rem;
      }
    }

    @include tabletAndDown() {
      display: none;
    }

    a.is-active {
      font-weight: bold;
    }
  }

  &-hamburger {
    @include tabletAndUp() {
      display: none;
    }
  }

  &-hamburger-stripe {
    height: 0px;
    width: 33px;
    margin-bottom: 10px;
    border: 2px solid #414141;
    border-radius: 4px;
  }

  &-popover {
    position: absolute;
    right: -20px;
    top: -22px;
    z-index: 1;
    padding: 2.5em 20px 2em 20px;
    background: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  }

  &.navbar-expand-md .nav-link {
    // display: none;
    padding-left: 0;
    padding-right: 0;

    .nav-link {
      display: none;

      @include tabletAndUp() {
        display: inherit;
      }
    }
  }
}

.nav-close {
  margin-bottom: 30px;
}

.nav-item {
  justify-content: flex-end;
  display: flex;
}
