// Font face
@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  src: url("/static/fonts/HelveticaNeue.woff2") format("woff2"), local("Helvetica");
}

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: bold;
  src: url("/static/fonts/HelveticaNeue-Bold.woff2") format("woff2"), local("Helvetica");
}

@font-face {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  src: url("/static/fonts/libre-baskerville-v5-latin-regular.woff2") format("woff2"), local("Helvetica"); /* IE9 Compat Modes */
}

// Headings
h1,
h2,
h4,
h5,
h6 {
  font-weight: bold;
}

h3 {
  font-weight: lighter;
  font-size: 1.5rem;
}

h5 {
  font-size: 0.875rem;
  font-weight: lighter;
}

// Anchor
a {
  color: $darkgray;
  text-decoration: none;
  border-bottom: 1px solid transparent;

  &:hover {
    color: inherit;
    border-bottom-color: currentColor;
    text-decoration: none;
  }
  &.a--external {
    &:after {
      content: "↗";
      display: inline-block;
      padding-left: 0.25rem;
      font-size: 0.75rem;
      opacity: 0.25;
    }
    &:hover:after {
      max-width: 2rem;
      opacity: 1;
    }
  }
}

p {
  letter-spacing: 0.02rem;

  &.p--small {
    font-size: 0.875rem;
    margin-bottom: 10px;
    font-weight: lighter;
    font-style: oblique;
    // line-height: 2rem;
  }
  &.p--smallitalic {
    font-size: 0.875rem;
    // line-height: 2rem;
    font-style: italic;
    opacity: 0.5;
    margin-bottom: 10px;
  }
  &.p--large {
    font-size: 1.25rem;
    // line-height: 2rem;
  }
  &.p--bold {
    font-size: 1rem;
    // line-height: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  &.p--tiny {
    font-size: 0.3rem;
    font-weight: lighter;
  }
}

// Blockquote
blockquote {
  margin: 0;

  &.blockquote--hero {
    position: relative;
    margin-bottom: 8rem;

    @include tabletAndUp() {
      margin-bottom: 2rem;
    }

    p {
      font-weight: bold;
      font-size: 2.5rem;
      line-height: 3rem;
      letter-spacing: -0.1rem;

      @include tabletAndUp() {
        font-size: 4.5rem;
        line-height: 4.5rem;
      }
    }
  }
}
