// Variables

// Colours
$white: #fff;
$greylightest: #f3f4f5;
$greylight: #ccc;
$gray: #979797;
$darkgray: #272727;
$darkred: #f45540;
$lightred: #f5a69b;

$yellow: #ffff53;
$blue: #4321ea;
$primary: $darkgray;

.c-blue {
  color: $blue;
}

// Layout
$maxWidth: 90%;

//bootstrap overides
$enable-rounded: false;
