// Variables

// Colours
$white: #fff;
$greylightest: #f3f4f5;
$greylight: #ccc;
$gray: #979797;
$black: #000;

$yellow: #FFFF53;
$primary: $black;


// Layout
$maxWidth: 52rem;

//bootstrap overides
$enable-rounded: false;

* {
  border-radius: 0 !important;
}