// Variables

// Colours
$white: #fff;
$greylightest: #f3f4f5;
$greylight: #ccc;
$gray: #979797;
$black: #000;

$yellow: #FFFF53;
$blue: #4321EA;
$primary: $black;

.c-blue {
	color: $blue;
}

// Layout
$maxWidth: 56rem;

//bootstrap overides
$enable-rounded: false;
